.example-spacer {
    flex: 1 1 auto;
  }

  .mdc-list{
    display: flex;
  }

  .nav-link-text
{
  font-family: Georgia, serif;
word-spacing: 0.4px;
color: #ffffff;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;}