<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-header">
        <h1 style="text-align: center;">Account Login</h1>
      </div>
      <div class="form-content">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" formControlName="username" required="required"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" formControlName="password" required="required"/>
          </div>
          <div class="form-group">
            <label class="form-remember">
              <input type="checkbox"/>Remember Me
            </label><a class="form-recovery" href="#">Forgot Password?</a>
          </div>
          <div class="form-group">
            <button type="submit"  type="submit">Log In</button>
          </div>
        </form>
      </div>
    </div>
    <div class="form-panel two">
    </div>
  </div>
