<div *ngIf="!isLoading">
    <div class="d-flex justify-content-center: space-between;">
     
        <div class="filter">
        <mat-form-field class="matSelectHeight">
          <mat-label>Location</mat-label>
          <mat-select (selectionChange)="applyFilter($event, 'location')" multiple [(ngModel)]="resetLocationFilter">
            <mat-option *ngFor="let option of locationOption" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field> &nbsp;
        <mat-form-field class="matSelectHeight">
          <mat-label>Asset Make</mat-label>
          <mat-select (selectionChange)="applyFilter($event, 'assetMake')" multiple [(ngModel)]="resetAssetMakeFilter">
            <mat-option *ngFor="let option of assetMakeOption" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;
        <mat-form-field class="matSelectHeight">
          <mat-label>Vendor</mat-label>
          <mat-select (selectionChange)="applyFilter($event, 'vendor')" multiple [(ngModel)]="resetVendorFilter">
            <mat-option *ngFor="let option of vendorOption" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field> &nbsp;&nbsp;&nbsp;
        <button mat-raised-button  (click)="applyFilters01()" >Filter</button>&nbsp;
        <button mat-raised-button  (click)="clearFilters()" >Clear</button>
      </div>
      <!-- <div style="    margin-left: auto;">

            search box
            <div class="d-flex " style="justify-content: flex-end;">
                <div class="col text-end d-flex " style="position: relative;
        top: 12px;
        right: 0%;">
                    <mat-form-field class="search-box " style="margin-left: auto;     width: 100%;">
                        <input type="tel" class="search-box-input" matInput placeholder="Search" #input style="    position: relative;
                bottom: 12px;
                font-size: 17px;
                " [(ngModel)]="search">
                        <button style="position: relative;
                top: -36px;
                left: 89%;
                border: none;
                background: none;" (click)="getBySearch()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </div> -->
     <div class="search" style="display: flex; height: 68px;     margin-left: auto;">
      <mat-form-field>
          <input type="tel" class="search-box-input" matInput  [(ngModel)]="search"
                        placeholder="Search" #input style="    
                font-size: 17px;
                ">
                    <button style="position: relative;
                top: -29px;
                left: 89%;
                border: none;
                background: none;" (click)="getBySearch()">
                        <mat-icon>search</mat-icon>
                    </button>
      </mat-form-field></div>
    </div>


    <mat-card>

        <mat-card-content>


            <table mat-table [dataSource]="dataSource">



                <!-- asset_id Column -->
                <ng-container matColumnDef="asset_id">
                    <th mat-header-cell *matHeaderCellDef> ASSET ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.assetId}} </td>
                </ng-container>

                <!-- DESCRIPTION Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <!-- ASSET MAKE Column -->
                <ng-container matColumnDef="asset_make">
                    <th mat-header-cell *matHeaderCellDef> ASSET MAKE </th>
                    <td mat-cell *matCellDef="let element"> {{element.assetMake}} </td>
                </ng-container>

                <!-- serial_no Column -->
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef>LOCATION</th>
                    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                </ng-container>

                <!-- po_no Column -->
                <ng-container matColumnDef="po_no">
                    <th mat-header-cell *matHeaderCellDef> PO NO. </th>
                    <td mat-cell *matCellDef="let element"> {{element.poNo}} </td>
                </ng-container>

                <!-- vendor Column -->
                <ng-container matColumnDef="vendor">
                    <th mat-header-cell *matHeaderCellDef> VENDOR </th>
                    <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
                </ng-container>

                <!-- price Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> PRICE </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <!-- remarks Column -->
                <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef> REMARKS </th>
                    <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRowDetail(row.assetId)"></tr>

                
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the searched "{{search}}"</td>
            </tr>

            </table>
        </mat-card-content>

    </mat-card>
    <mat-paginator #paginator [length]="totalElements" [pageSize]="size" [pageSizeOptions]="[5, 10, 25]"
        aria-label="Select page" (page)="pageEvent($event)"> </mat-paginator>
</div>




<div *ngIf="isLoading" style="    height: 100vh;
display: flex;
justify-content: center;
background-color: grey;
    color: white;">
    <div style="    display: flex;
    flex-direction: column;
    justify-content: center;">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p style="text-align: center; font-size: 1.3em;">Loading...</p>
    </div>
</div>